* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: "Arial", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.notes {
  margin: 0px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: rgb(67, 67, 81);
}
h1#note {
  margin-bottom: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
  color: rgb(67, 67, 81);
}

th, td {
  border: 2px solid #f2f2f2;
  padding: 8px 10px;
  text-align: center;
}
th.content, td.content {
  text-align: left;
}

form {
  margin: auto;
  width: 30%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #f2f2f2;
}

textarea {
  height: 100px;
}

button {
  font-weight: bold;
  color: rgb(67, 67, 81);
  cursor: pointer;
  margin: 10px;
}

#add {
  font-size: 16px;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #74bd88;
  color: white;
  width: 100px;
  position: relative;
  left: 855px;
  margin-bottom: 0px;
}

#add:hover {
  box-shadow: 0 0 10px rgba(55, 255, 0, 0.4);
}

#delete, #update {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

#delete {
  background-color: rgba(255, 0, 0, 0.7);
}

#delete:hover {
  background-color: transparent;
  color: rgba(255, 0, 0, 0.7);
}

#update {
  background-color: rgba(0, 0, 255, 0.7);
}

#update:hover {
  background-color: transparent;
  color: rgba(0, 0, 255, 0.7);
}

#login {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  background-color: #f4f4f4;
  margin: auto;
}

#logout {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 90px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #c4baba;
}
#logout:hover {
  background-color: transparent;
  color: rgb(67, 67, 81);
}

#manage-note {
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: "white";
  position: relative;
}

.add-note {
  width: 50px;
  left: 270px;
}

.update-note {
  width: 70px;
  left: 250px;
}

.add-note:hover {
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
}

.update-note:hover {
  background-color: rgb(65, 65, 250);
  color: white;
}

select {
  width: 100px;
}

.user-style {
  background-color: #74bd88;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.user-style:hover span {
  visibility: visible;
}

.border-name {
  width: 45px;
  height: 45px;
  background-color: #dfdede;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-position {
  display: flex;
  justify-content: center;
}

.hover-name {
  visibility: hidden;
  background-color: #74bd88;
  color: white;
  text-align: center;
  font-size: 10px;
  width: 80px;
  max-height: 300px;
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  top: -35px;
}

.liste-notes {
  background-color: rgba(183, 244, 183, 0.6);
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  padding: 50px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.liste-notes .note {
  display: flex;
  margin: 0px auto 15px;
  padding: 10px;
  width: 90%;
  background-color: #ede3e3;
  border-radius: 10px;
  align-items: center;
}
.liste-notes .note .note-title {
  text-align: center;
  text-decoration: underline;
  padding: 10px 5px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(67, 67, 81);
  margin-right: 10px;
  width: 200px;
  border-radius: 5px;
}
.liste-notes .note .note-content {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  color: #000;
  width: 100%;
}
.liste-notes .note .note-shared {
  font-size: 16px;
  color: rgb(67, 67, 81);
  display: flex;
}
.liste-notes .note .btn-note {
  display: flex;
  align-items: center;
  justify-content: center;
}
.liste-notes .note .btn-note button {
  margin: 0px 0px 0px 10px;
}
.liste-notes .note .btn-note button:hover {
  background-color: transparent;
  color: white;
}/*# sourceMappingURL=app.css.map */