* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

#bg-body {
    // background: url('../public/bg.jpg');
    // z-index: -1;
    background: url(../public/Amarillo.jpg) no-repeat;
    background-size: cover;
    height: 3250px;
    z-index: -1;
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    // bottom: -50px;
    filter: blur(8px);
}

#root {

    // background-color: rgb(204, 255, 0);
    // margin: auto;
    // width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.notes {
    // background-color: white;
    margin: 0px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-decoration: underline;
    text-align: center;
    margin-top: 50px;
    color: rgb(67, 67, 81);
    &#note {
        margin-bottom: 20px;
    }
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
    // max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
    color: rgb(67, 67, 81);
}

th, td {
    border: 2px solid #f2f2f2;
    padding: 8px 10px;
    text-align: center;
    &.content {
        text-align: left;
    }
}

form {
    margin: auto;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
input, textarea {
    width: 100%;
    padding: 10px;
    // margin: 10px 0;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #f2f2f2;
}
textarea {
    height: 100px;
}

button {
    font-weight: bold;
    color: rgb(67, 67, 81);
    cursor: pointer;
    margin: 10px;
}
#add {
    font-size: 16px;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    // background-color: #74bd88;
    // background-color: rgba(190, 131, 4, 0.6);
    background-color: rgba(255, 174, 0, 0.5);
    color: white;
    width: 100px;
    position: relative;
    right: 10px;
    top: 0px;
    left: 860px;
    margin-bottom: 0px;
}
#add:hover {
    // box-shadow: 0 0 10px rgba(55, 255, 0, 0.4);
    box-shadow: 0 0 10px rgba(190, 131, 4, 0.6);
}
#delete, #update {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    // color: white;

}
// #delete {
//     background-color: rgba(255, 0, 0, 0.6);
// }
#delete:hover {
    // background-color: white;
    background-color: transparent;
    color: rgba(255, 0, 0, 0.6);
}
// #update {
//     // background-color: rgba(0, 0, 255, 0.6);
//     background-color: rgb(3, 201, 211, 0.7);
// }
#update:hover {
    // background-color: white;
    background-color: transparent;
    // color: rgba(0, 0, 255, 0.6);
    // color: rgb(3, 201, 211, 0.7);
    color: rgb(26, 30, 154, 0.8);
}

#login {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    background-color: #f4f4f4;
    margin: auto;
}
#logout {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 90px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    // background-color: #c4baba;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: transparent;
        color: rgb(67, 67, 81);
        font-size: 16px;

    }
}

#manage-note {
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: 'white';
    // width: 50px;
    // margin: auto;
    position: relative;
    // left: 270px;

}
.add-note {
    width: 50px;
    left: 270px;
}
.update-note {
    width: 70px;
    left: 250px;
}
.add-note:hover{
    background-color: rgb(0, 128, 0, .8);
    color: white;
}
.update-note:hover{
    background-color: rgb(65, 65, 250);
    color: white;
}

select {
    width: 100px;
}

// .user-style {
//     background-color: #8f8872;
//     color: white;
//     width: 50px;
//     height: 50px;
//     border-radius: 25px;
//     font-size: 20px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     cursor: pointer;
//     // position: absolute;
//     position: relative;
//     &:hover {
//         span {
//             visibility: visible;
//         }
//     }
// }
// .border-name {
//     width: 60px;
//     height: 60px;
//     // background-color: #7e681f;
//     background-color: #dfdede;
//     border-radius: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .name-position {
//     display: flex;
//     justify-content: center;
//     // margin-left: -10px;
// }
// .hover-name {
//     visibility : hidden;
//     background-color: #78715b;
//     color: white;
//     font-size: 10px;
//     // font-weight: bold;
//     width: 80px;
//     // max-width: 300px;
//     max-height: 300px;
//     padding: 5px 10px;
//     border-radius: 5px;
//     position: absolute;
//     top: -40px;
//     // left: 1px,
// }
.user-style {
    // background-color: #74bd88;
    background-color: rgba(190, 131, 4, 0.6);
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 17px;
    // font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // position: absolute;
    position: relative;
    &:hover {
        span {
            // opacity: 1;
            visibility: visible;
        }
    }


}
.border-name {
    width: 40px;
    height: 40px;
    // background-color: #7e681f;
    // background-color: #dfdede;
    background-color: rgb(252, 252, 193);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:not(:first-child) {
        margin-left: -10px;
        z-index: 100;
    }
}
.name-position {
    display: flex;
    justify-content: center;
    // margin-left: -10px;
    
}
.hover-name {
    visibility : hidden;
    // background-color: #78715b;
    // background-color: #74bd88;
    background-color: rgba(190, 131, 4, 0.6);
    color: white;
    text-align: center;
    font-size: 10px;
    // font-weight: bold;
    // width: 80px;
    // max-width: 300px;
    // max-height: 300px;
    padding: 8px;
    border-radius: 10px;
    // position: absolute;
    // top: -35px;
    // left: 1px,
    // position: absolute; /* postulat de départ */
    // top: -50%;
    // left: 50%; /* à 50%/50% du parent référent */
    // transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -20px);
    // background-color: inherit;
    white-space: nowrap;
    // padding: 10px;
    // border-radius: 10px;
    // opacity: 0;
    // visibility: hidden;
    transition: all .3s;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 99.8%);
        // transform: translate(-50%, 50%);
        // width: 10px;
        // height: 10px;
        border: solid 5px transparent;
        border-top-color: rgba(190, 131, 4, 0.6);
        // background-color: rgba(190, 131, 4, 0.6);
    }
}

.liste-notes {
    // background-color: rgb(222, 165, 165);
    // background-color: rgb(183, 244, 183, 0.6);
    // background-color: rgb(255, 255, 0, 0.2);
    background-color: rgb(255, 255, 255, 0.7);
    // border-top-left-radius: 150px ;
    // border-top-right-radius: 150px ;
    border-top-left-radius: 80px ;
    border-top-right-radius: 80px ;
    padding: 50px 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .note {
        display: flex;
        margin: 0px auto 15px; 
        padding: 0px 10px 0px 0px;
        width: 90%;
        height: inherit;
        // margin-bottom: 10px;
        // margin-left: 50px;
        // background-color: #ede3e3;
        // background-color: rgb(252, 252, 193);
        background-color: rgb(252, 252, 193, 0.4);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        // background-color: white;
        border-radius: 10px;
        align-items: center;
        // justify-content: space-between;
        .note-title {
            // display: flex;
            text-align: center;
            // text-decoration: underline;
            // align-items: center;
            // justify-content: center;
            padding: 10px 5px;
            font-size: 18px;
            font-weight: bold;
            color: rgb(67, 67, 81);
            margin-right: 10px;
            width: 200px;
            margin-left: 0px;
            // height: 50px;
            // background-color: #74bd88;
            // background-color: rgba(255, 174, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            // margin-bottom: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .note-content {
            display: flex;
            align-items: center;
            padding: 5px;
            font-size: 16px;
            // color: rgb(67, 67, 81);
            color: #000;
            width: 100%;
            // background-color: aquamarine;
        }
        .note-shared {
            font-size: 16px;
            color: rgb(67, 67, 81);
            // background-color: #8f8872;
            display: flex;

            // position: absolute;
            // right: 300px;
        }
        .btn-note {
            // background-color: #4CAF50;
            display: flex;
            align-items: center;
            justify-content: center;
            // position: absolute;
            // right: 0
            // margin-left: 10px;
            button {
                margin: 0px 0px 0px 10px;
                &:hover {
                    background-color: transparent;
                    color: white;
                }
            }
        }
    }
}

.icon {
    background-color: transparent;
    border: none;
    img {
        width: 20px;
        height: 20px;
    }
}
