* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f4f4f4;
}

#root {

    // background-color: rgb(204, 255, 0);
    // margin: auto;
    // width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.notes {
    // background-color: white;
    margin: 0px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: rgb(67, 67, 81);
    &#note {
        margin-bottom: 20px;
    }
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
    // max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
    color: rgb(67, 67, 81);
}

th, td {
    border: 2px solid #f2f2f2;
    padding: 8px 10px;
    text-align: center;
}

form {
    margin: auto;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
input, textarea {
    width: 100%;
    padding: 10px;
    // margin: 10px 0;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #f2f2f2;
}
textarea {
    height: 100px;
}

button {
    font-weight: bold;
    color: rgb(67, 67, 81);
    cursor: pointer;
    margin: 10px;
}
#add {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    width: 150px;
    position: relative;
    left: 800px;
    margin-bottom: 0px;
}
#delete {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f52c2c;
    color: white;
}

#login {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    background-color: #f4f4f4;
    margin: auto;
}
#logout {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 90px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #c4baba;
}

#add-note {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50px;
    // margin: auto;
    position: relative;
    left: 270px;

}

#create-note {
    margin-top: 0px;
}

select {
    width: 100px;
}
